<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529874796738-n8kmqopcvks520jbqnltavvsn7k01438.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529874796738-n8kmqopcvks520jbqnltavvsn7k01438</string>
	<key>API_KEY</key>
	<string>AIzaSyBH372jcQwYPeZ46x2byp0Y3OvBuTdQMRk</string>
	<key>GCM_SENDER_ID</key>
	<string>529874796738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metaciti.app</string>
	<key>PROJECT_ID</key>
	<string>metacitiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>metacitiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529874796738:ios:84e6868d78cfa382933b5b</string>
	<key>DATABASE_URL</key>
	<string>https://metacitiapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>